[Desktop Entry]
Categories=Game;StrategyGame;
Comment=
Exec=asc
Icon=asc
Keywords=game;strategy;turn-based;
Name=Advanced Strategic Command
NoDisplay=false
Path=
PrefersNonDefaultGPU=false
StartupNotify=false
Terminal=false
TerminalOptions=
Type=Application
X-Desktop-File-Install-Version=0.28
X-KDE-SubstituteUID=false
X-KDE-Username=
