[Desktop Entry]
Categories=Game;ArcadeGame;BlocksGame;
Comment=
Exec=ballbuster-wrapper
Icon=ballbuster
Keywords=game;blocks;bricks;buster;
Name=Ball: Buster
NoDisplay=false
Path=
PrefersNonDefaultGPU=false
StartupNotify=false
Terminal=false
TerminalOptions=
Type=Application
X-Desktop-File-Install-Version=0.28
X-KDE-SubstituteUID=false
X-KDE-Username=
