[Desktop Entry]
Categories=Game;StrategyGame;
Comment=
Exec=boswars -d /usr/share/boswars
Icon=boswars
Keywords=game;real-time;strategy;rts;futuristic;
Name=Bos Wars
NoDisplay=false
Path=
PrefersNonDefaultGPU=false
StartupNotify=false
Terminal=false
TerminalOptions=
Type=Application
X-Desktop-File-Install-Version=0.28
X-KDE-SubstituteUID=false
X-KDE-Username=
