[Desktop Entry]
Categories=Game;SportsGame;
Comment=
Exec=/usr/bin/bygfoot
Icon=/usr/share/bygfoot/support_files/pixmaps/bygfoot_icon.png
Name=Bygfoot
NoDisplay=false
Path=
PrefersNonDefaultGPU=false
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-Desktop-File-Install-Version=0.28
X-KDE-SubstituteUID=false
X-KDE-Username=
