[Desktop Entry]
Categories=Game;ArcadeGame;ActionGame;
Comment=
Exec=clanbomber
Icon=clanbomber
Keywords=game;bomberman;bomber;clanbomber;
Name=ClanBomber
NoDisplay=false
Path=
PrefersNonDefaultGPU=false
StartupNotify=false
Terminal=false
TerminalOptions=
Type=Application
X-Desktop-File-Install-Version=0.28
X-KDE-SubstituteUID=false
X-KDE-Username=
