[Desktop Entry]
Categories=Game;Utility;
Comment=
Exec=/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=protonplus com.vysp3r.ProtonPlus
Icon=com.vysp3r.ProtonPlus
Name=ProtonPlus
NoDisplay=false
Path=
PrefersNonDefaultGPU=false
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-Flatpak=com.vysp3r.ProtonPlus
X-KDE-SubstituteUID=false
X-KDE-Username=
