[Desktop Entry]
Categories=AudioVideo;Audio;GTK;
Comment=
Exec=/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=blanket com.rafaelmardojai.Blanket
Icon=com.rafaelmardojai.Blanket
Keywords[en_US]=Concentrate;Focus;Noise;Productivity;Sleep;
Keywords=Concentrate;Focus;Noise;Productivity;Sleep;
Name[en_US]=Blanket
Name=Blanket
NoDisplay=false
Path=
PrefersNonDefaultGPU=false
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-Flatpak=com.rafaelmardojai.Blanket
X-KDE-SubstituteUID=false
X-KDE-Username=
X-Purism-FormFactor=Workstation;Mobile;
