[Desktop Entry]
Actions=new-note;all-notes;
Categories=GNOME;GTK;Utility;
Comment=
Exec=/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=com.vixalien.sticky com.vixalien.sticky
Icon=com.vixalien.sticky
Keywords=Sticky;Notes;Write;PostIt;
Name=Sticky Notes
NoDisplay=false
Path=
PrefersNonDefaultGPU=false
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-Flatpak=com.vixalien.sticky
X-Flatpak-Tags=nightly;
X-KDE-SubstituteUID=false
X-KDE-Username=

[Desktop Action all-notes]
Exec=/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=com.vixalien.sticky com.vixalien.sticky -a
Name=All Notes

[Desktop Action new-note]
Exec=/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=com.vixalien.sticky com.vixalien.sticky -n
Name=New Note
