[Desktop Entry]
Categories=Game;ArcadeGame;
Comment=
Exec=critter-wrapper
Icon=critter
Keywords=game;arcade;space;shooter;critter;top-down;
Name=Critical Mass
NoDisplay=false
Path=
PrefersNonDefaultGPU=false
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-Desktop-File-Install-Version=0.28
X-KDE-SubstituteUID=false
X-KDE-Username=
