[Desktop Entry]
Actions=NewWorkspace;
Categories=Utility;TextEditor;Development;IDE;
Comment=
Exec=zed %U
GenericName=Text Editor
Icon=dev.zed.Zed
Keywords=zed;
MimeType=text/plain;application/x-zerosize;x-scheme-handler/zed;
Name=Zed
NoDisplay=false
Path=
PrefersNonDefaultGPU=false
StartupNotify=true
Terminal=false
TerminalOptions=
TryExec=zed
Type=Application
Version=1.0
X-KDE-SubstituteUID=false
X-KDE-Username=

[Desktop Action NewWorkspace]
Exec=zed --new %U
Name=Open a new workspace
