[Desktop Entry]
Categories=Utility;System;Development
Comment=
Exec=waycheck
Icon=dev.serebit.Waycheck
Keywords=Wayland
Name=Waycheck
NoDisplay=false
Path=
PrefersNonDefaultGPU=false
StartupNotify=true
Terminal=false
TerminalOptions=
TryExec=waycheck
Type=Application
Version=1.5
X-KDE-SubstituteUID=false
X-KDE-Username=
