[Desktop Entry]
Categories=Education;
Comment=
Exec=/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=keypunch dev.bragefuglseth.Keypunch
GenericName=Typing Benchmark
Icon=dev.bragefuglseth.Keypunch
Keywords=typing;trainer;touch typing;keyboard;speed;wpm;words per minute;accuracy;test;
Name=Keypunch
NoDisplay=false
Path=
PrefersNonDefaultGPU=false
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-Flatpak=dev.bragefuglseth.Keypunch
X-KDE-SubstituteUID=false
X-KDE-Username=
