[Desktop Entry]
Categories=System;Settings;Security;
Comment=
Exec=firewall-config
Icon=firewall-config
Keywords[en_US]=firewall;network;security;iptables;netfilter;
Keywords=firewall;network;security;iptables;netfilter;
Name=Firewall Settings
NoDisplay=false
Path=
PrefersNonDefaultGPU=false
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-Desktop-File-Install-Version=0.28
X-KDE-SubstituteUID=false
X-KDE-Username=
