[Desktop Entry]
Categories=Game;BlocksGame;
Comment=
Encoding=UTF-8
Exec=gemdropx
Icon=gemdropx.png
Name=Gem Drop X
NoDisplay=false
Path=
PrefersNonDefaultGPU=false
StartupNotify=false
Terminal=false
TerminalOptions=
Type=Application
X-Desktop-File-Install-Version=0.28
X-KDE-SubstituteUID=false
X-KDE-Username=
