[Desktop Entry]
Categories=Game;StrategyGame;
Comment=
Exec=glob2
Icon=glob2
Name=Globulation 2
NoDisplay=false
Path=
PrefersNonDefaultGPU=false
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
Version=1.0
X-Desktop-File-Install-Version=0.28
X-KDE-SubstituteUID=false
X-KDE-Username=
X-MultipleArgs=false
