[Desktop Entry]
Categories=Utility;System;Settings
Comment=
Exec=/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=sysd-manager io.github.plrigaux.sysd-manager
GenericName=
Icon=io.github.plrigaux.sysd-manager
Keywords=Systemd;Systemctl;Services;log;
Name=SysD Manager
NoDisplay=false
Path=
PrefersNonDefaultGPU=false
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-Flatpak=io.github.plrigaux.sysd-manager
X-KDE-SubstituteUID=false
X-KDE-Username=
