[Desktop Entry]
Actions=new-window;
Categories=GTK;GNOME;Graphics;ImageProcessing;Utility;
Comment=
DBusActivatable=true
Exec=/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=switcheroo --file-forwarding io.gitlab.adhami3310.Converter @@u %U @@
GenericName=Image Converter
Icon=io.gitlab.adhami3310.Converter
Keywords=converter;image;convert;converting;processing
MimeType=image/png;image/jpeg;image/webp;image/svg+xml;image/heic;image/heif;image/bmp;image/avif;image/jxl;image/tiff;application/pdf;image/gif;image/x-icon;image/vnd-ms.dds
Name=Switcheroo
NoDisplay=false
Path=
PrefersNonDefaultGPU=false
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-Flatpak=io.gitlab.adhami3310.Converter
X-KDE-SubstituteUID=false
X-KDE-Username=
X-Purism-FormFactor=Workstation;Mobile;

[Desktop Action new-window]
Exec=/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=switcheroo io.gitlab.adhami3310.Converter --new-window
Icon=window-new
Name=New Window
