[Desktop Entry]
Actions=run-in-tray;
Categories=Game;Qt;Utility;
Comment=
Exec=antimicrox --show %f
Icon=io.github.antimicrox.antimicrox
Keywords=game;controller;keyboard;joystick;mouse;
MimeType=application/x-amgp;
Name=AntiMicroX
NoDisplay=false
Path=
PrefersNonDefaultGPU=false
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=

[Desktop Action run-in-tray]
Exec=antimicrox --tray
Name=Open in system tray only
