[Desktop Entry]
Categories=Game;Simulation;
Comment=
Exec=lincity-ng
GenericName=
Icon=io.github.lincity_ng.lincity-ng
Keywords=game;simulation;city;strategy;3D;economics;transport;buildings;
Name=LinCity-NG
NoDisplay=false
Path=
PrefersNonDefaultGPU=false
StartupNotify=false
Terminal=false
TerminalOptions=
Type=Application
Version=1.5
X-KDE-SubstituteUID=false
X-KDE-Username=
