[Desktop Entry]
Actions=new-window;
Categories=AudioVideo;Video;GNOME;GTK;
Comment=
DBusActivatable=true
Exec=/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=constrict --file-forwarding io.github.wartybix.Constrict --new-window @@u %U @@
GenericName=Video Compressor
Icon=io.github.wartybix.Constrict
Keywords=Compress;Video;Movie;Film;Clip;
MimeType=video/3gp;video/3gpp;video/3gpp2;video/dv;video/divx;video/fli;video/flv;video/mp2t;video/mp4;video/mp4v-es;video/mpeg;video/mpeg-system;video/msvideo;video/ogg;video/quicktime;video/vivo;video/vnd.divx;video/vnd.mpegurl;video/vnd.rn-realvideo;video/vnd.vivo;video/webm;video/x-anim;video/x-avi;video/x-flc;video/x-fli;video/x-flic;video/x-flv;video/x-m4v;video/x-matroska;video/x-mjpeg;video/x-mpeg;video/x-mpeg2;video/x-ms-asf;video/x-ms-asf-plugin;video/x-ms-asx;video/x-msvideo;video/x-ms-wm;video/x-ms-wmv;video/x-ms-wvx;video/x-nsv;video/x-ogm+ogg;video/x-theora;video/x-theora+ogg;image/gif;
Name=Constrict
NoDisplay=false
Path=
PrefersNonDefaultGPU=false
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-Flatpak=io.github.wartybix.Constrict
X-GNOME-UsesNotifications=true
X-KDE-SubstituteUID=false
X-KDE-Username=

[Desktop Action new-window]
Exec=/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=constrict io.github.wartybix.Constrict --new-window
Name=New Window
