[Desktop Entry]
Categories=Game;StrategyGame;
Comment=
Exec=lordsawar
GenericName=
Icon=lordsawar
Keywords=turn-based;multiplayer;city;army;hero;quest;warlords;
Name=LordsAWar!
NoDisplay=false
Path=
PrefersNonDefaultGPU=false
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
