[Desktop Entry]
Categories=Network;Email;
Comment=
Exec=/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=start-proton-mail --file-forwarding me.proton.Mail @@u %U @@
GenericName=
Icon=me.proton.Mail
MimeType=x-scheme-handler/mailto;
Name=Proton Mail
NoDisplay=false
Path=
PrefersNonDefaultGPU=false
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-Desktop-File-Install-Version=0.28
X-Flatpak=me.proton.Mail
X-KDE-SubstituteUID=false
X-KDE-Username=
