[Desktop Entry]
Categories=Game;StrategyGame;
Comment=
Exec=megaglest_editor
Icon=megaglest
Keywords=map;editor;
Name=MegaGlest Map Editor
NoDisplay=false
Path=
PrefersNonDefaultGPU=false
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
