[Desktop Entry]
Categories=Game;LogicGame;
Comment=
Exec=mirrormagic
Icon=mirrormagic
Keywords=Game;Puzzle;Deflektor;Mindbender;
Name=Mirror Magic
NoDisplay=false
Path=
PrefersNonDefaultGPU=false
StartupNotify=false
Terminal=false
TerminalOptions=
Type=Application
X-Desktop-File-Install-Version=0.26
X-KDE-SubstituteUID=false
X-KDE-Username=
