[Desktop Entry]
Categories=Game;StrategyGame;
Comment=
Exec=warzone2100
GenericName=
Icon=net.wz2100.warzone2100
Keywords=warzone2100;wz2100;strategy;rts;real-time;
Name=Warzone 2100
NoDisplay=false
Path=
PrefersNonDefaultGPU=true
StartupNotify=true
Terminal=false
TerminalOptions=
TryExec=warzone2100
Type=Application
Version=1.4
X-KDE-SubstituteUID=false
X-KDE-Username=
