[Desktop Entry]
Categories=Game;ArcadeGame;
Comment=
Exec=etr-wrapper
GenericName=
Icon=etr
Keywords=game;tux;3D;pinguin;race;arcade;
Name=Extreme Tux Racer
NoDisplay=false
Path=
PrefersNonDefaultGPU=false
StartupNotify=false
Terminal=false
TerminalOptions=
Type=Application
Version=1.0
X-Desktop-File-Install-Version=0.28
X-KDE-SubstituteUID=false
X-KDE-Username=
