[Desktop Entry]
Categories=Application;Game;X-Fedora;RolePlaying;
Comment=
Encoding=UTF-8
Exec=nethack
Icon=nethack.xpm
Name=NetHack
NoDisplay=false
Path=
PrefersNonDefaultGPU=false
StartupNotify=true
Terminal=true
TerminalOptions=
Type=Application
X-Desktop-File-Install-Version=0.28
X-KDE-SubstituteUID=false
X-KDE-Username=
