[Desktop Entry]
Categories=Game;ActionGame;StrategyGame;
Comment=
Exec=openlierox
Icon=openlierox
Keywords=game;lierox;multi-player;shoot-em-up;deathmatch;
Name=OpenLieroX
NoDisplay=false
Path=
PrefersNonDefaultGPU=false
StartupNotify=false
Terminal=false
TerminalOptions=
Type=Application
X-Desktop-File-Install-Version=0.28
X-KDE-SubstituteUID=false
X-KDE-Username=
