[Desktop Entry]
Categories=Qt;KDE;Utility;
Comment=
Exec=kfind %u
GenericName=KFind
Icon=kfind
Keywords=search;file search;search tool;finder;
Name=Finder
NoDisplay=false
OnlyShowIn=KDE;
Path=
PrefersNonDefaultGPU=false
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DocPath=kfind/index.html
X-KDE-SubstituteUID=false
X-KDE-Username=
