[Desktop Entry]
Categories=Qt;KDE;Game;StrategyGame;
Comment=
Exec=kmines -qwindowtitle %c
GenericName=KMines
Icon=kmines
Name=Minesweeper
NoDisplay=false
Path=
PrefersNonDefaultGPU=false
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DocPath=kmines/index.html
X-KDE-SubstituteUID=false
X-KDE-Username=
