[Desktop Entry]
Categories=Qt;KDE;Utility;
Comment=
Exec=kweather
GenericName=KWeather
Icon=org.kde.kweather
Name=Weather
NoDisplay=false
Path=
PrefersNonDefaultGPU=false
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-FormFactor=desktop;tablet;handset;
X-KDE-SubstituteUID=false
X-KDE-Username=
