[Desktop Entry]
Categories=GTK;Game;StrategyGame;
Comment=
Exec=freeciv-mp-qt
Icon=freeciv-modpack
Keywords=strategy;simulation;civilization;tiles;history;mankind;multiplayer;download;installer;
Name=Freeciv modpack installer (Qt)
NoDisplay=false
Path=
PrefersNonDefaultGPU=false
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
