[Desktop Entry]
Categories=Qt;KDE;Utility;
Comment=
Exec=kcharselect --qwindowtitle %c
GenericName=KCharSelect
Icon=accessories-character-map
Name=Character Selector
NoDisplay=false
Path=
PrefersNonDefaultGPU=false
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DocPath=kcharselect/index.html
X-KDE-SubstituteUID=false
X-KDE-Username=
