[Desktop Entry]
Categories=System;X-GNOME-Utilities;
Comment=
Exec=gnome-abrt
Icon=org.freedesktop.GnomeAbrt
Keywords=abrt;bug reporting;crash logger;
Name=Problem Reporting
NoDisplay=false
Path=
PrefersNonDefaultGPU=false
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-Desktop-File-Install-Version=0.15
X-KDE-SubstituteUID=false
X-KDE-Username=
