[Desktop Entry]
Categories=Qt;KDE;Documentation;
Comment=
Exec=plasma-welcome
GenericName=KDE Plasma Welcome Center
Icon=start-here-kde-plasma
Keywords=Welcome;Wizard;Onboarding;Contribute;Get involved;
Name=Welcome Center
NoDisplay=false
OnlyShowIn=KDE;
Path=
PrefersNonDefaultGPU=false
SingleMainWindow=true
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
