[Desktop Entry]
Categories=Qt;KDE;Education;Science;Astronomy;
Comment=
Exec=kstars %U
GenericName=KStars
Icon=kstars
MimeType=image/fits;
Name=Planetarium
NoDisplay=false
Path=
PrefersNonDefaultGPU=false
StartupNotify=true
StartupWMClass=kstars
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=org.kde.kstars
X-DBUS-StartupType=Multi
X-DocPath=kstars/index.html
X-KDE-SubstituteUID=false
X-KDE-Username=
