[Desktop Entry]
Categories=Qt;KDE;Network;RemoteAccess;
Comment=
Exec=/usr/bin/krdc -qwindowtitle %c %u
GenericName=KRDC
Icon=krdc
MimeType=x-scheme-handler/vnc;x-scheme-handler/rdp;application/x-krdc;
Name=Remote Desktop
NoDisplay=false
Path=
PrefersNonDefaultGPU=false
StartupNotify=true
StartupWMClass=krdc
Terminal=false
TerminalOptions=
Type=Application
X-DocPath=krdc/index.html
X-KDE-SubstituteUID=false
X-KDE-Username=
X-KDE-Wayland-Interfaces=org_kde_kwin_keystate
