[Desktop Entry]
Categories=ConsoleOnly;Game;StrategyGame;
Comment=
Exec=freeciv-server
Icon=freeciv-server
Keywords=strategy;simulation;civilization;tiles;history;mankind;multiplayer;
Name=Freeciv server
NoDisplay=false
Path=
PrefersNonDefaultGPU=false
StartupNotify=true
Terminal=true
TerminalOptions=
Type=Application
X-Desktop-File-Install-Version=0.28
X-KDE-SubstituteUID=false
X-KDE-Username=
