[Desktop Entry]
Categories=Qt;KDE;Utility;Accessibility;
Comment=
Exec=kmousetool -qwindowtitle %c
GenericName=KMouseTool
Icon=kmousetool
Name=Autoclicker
NoDisplay=false
Path=
PrefersNonDefaultGPU=false
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DocPath=kmousetool/index.html
X-KDE-SubstituteUID=false
X-KDE-Username=
