[Desktop Entry]
Categories=Game;BoardGame;GNOME;GTK;
Comment=
Exec=pioneers-server-gtk
Icon=pioneers-server
Keywords=game;board;server;host;Pioneers;Settlers;
Name=Pioneers Server
NoDisplay=false
Path=
PrefersNonDefaultGPU=false
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
Version=1.0
X-Desktop-File-Install-Version=0.28
X-KDE-SubstituteUID=false
X-KDE-Username=
