[Desktop Entry]
Categories=Game;LogicGame;
Comment=
Encoding=UTF-8
Exec=pipenightdreams
Icon=pipenightdreams.png
Name=Pipe Night Dreams
NoDisplay=false
Path=
PrefersNonDefaultGPU=false
StartupNotify=false
Terminal=false
TerminalOptions=
Type=Application
X-Desktop-File-Install-Version=0.28
X-KDE-SubstituteUID=false
X-KDE-Username=
