[Desktop Entry]
Categories=Utility;
Comment=
Exec=protontricks --no-term --gui
Icon=wine
Keywords=Steam;Proton;Wine;Winetricks;
Name=Protontricks
NoDisplay=false
Path=
PrefersNonDefaultGPU=false
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
