[Desktop Entry]
Categories=Game;ActionGame;StrategyGame;
Comment=
Encoding=UTF-8
Exec=scorched3d-wrapper
Icon=scorched3d
Name=Scorched 3D
NoDisplay=false
Path=
PrefersNonDefaultGPU=false
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-Desktop-File-Install-Version=0.28
X-KDE-SubstituteUID=false
X-KDE-Username=
