[Desktop Entry]
Categories=Game;ActionGame;
Comment=
Exec=seahorse-adventures
Icon=seahorse-adventures
Keywords=Game;Retro;Platform;
Name=Seahorse Adventures
NoDisplay=false
Path=
PrefersNonDefaultGPU=false
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
