[Desktop Entry]
Categories=System;
Comment=
Exec=/usr/bin/sealert -b
GenericName=
Icon=setroubleshoot_icon
Keywords=policy;security;selinux;avc;permission;mac;alert;sealert;
Name=SELinux Troubleshooter
NoDisplay=false
Path=
PrefersNonDefaultGPU=false
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-Desktop-File-Install-Version=0.28
X-KDE-SubstituteUID=false
X-KDE-Username=
