[Desktop Entry]
Categories=ArcadeGame;Game;
Comment=
Exec=sopwith
Icon=sopwith
Name=Sopwith
NoDisplay=false
Path=
PrefersNonDefaultGPU=false
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-Desktop-File-Install-Version=0.28
X-KDE-SubstituteUID=false
X-KDE-Username=
