[Desktop Entry]
Categories=Game;ArcadeGame;
Comment=
Exec=trackballs
GenericName=
Icon=trackballs
Keywords=marble;maze;obstacle;
Name=Trackballs
NoDisplay=false
Path=
PrefersNonDefaultGPU=false
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
