[Desktop Entry]
Categories=Education;Art;Graphics;2DGraphics;Game;KidsGame;
Comment=
Exec=tuxpaint
GenericName=Drawing program
Icon=tuxpaint
Name=Tux Paint
NoDisplay=false
Path=
PrefersNonDefaultGPU=false
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-Desktop-File-Install-Version=0.28
X-KDE-SubstituteUID=false
X-KDE-Username=
