[Desktop Entry]
Categories=Game;RolePlaying;
Comment=
Encoding=UTF-8
Exec=vulturesclaw
Icon=vulturesclaw.png
Name=NetHack - Vulture's Claw
NoDisplay=false
Path=
PrefersNonDefaultGPU=false
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-Desktop-File-Install-Version=0.28
X-KDE-SubstituteUID=false
X-KDE-Username=
