[Desktop Entry]
Categories=X-Wine;
Comment=
Exec=wine uninstaller.exe
Icon=msiexec
Name=Wine Software Uninstaller
NoDisplay=false
Path=
PrefersNonDefaultGPU=false
StartupNotify=true
StartupWMClass=uninstaller.exe
Terminal=false
TerminalOptions=
Type=Application
X-Desktop-File-Install-Version=0.28
X-KDE-SubstituteUID=false
X-KDE-Username=
