[Desktop Entry]
Categories=X-Wine;
Comment=
Exec=notepad
GenericName=Text Editor
Icon=notepad
Name=Notepad
NoDisplay=false
Path=
PrefersNonDefaultGPU=false
StartupNotify=true
StartupWMClass=notepad.exe
Terminal=false
TerminalOptions=
Type=Application
X-Desktop-File-Install-Version=0.28
X-KDE-SubstituteUID=false
X-KDE-Username=
