[Desktop Entry]
Categories=X-Wine;
Comment=
Exec=regedit
GenericName=Registry Editor
Icon=regedit
Name=Regedit
NoDisplay=false
Path=
PrefersNonDefaultGPU=false
StartupNotify=true
StartupWMClass=regedit.exe
Terminal=false
TerminalOptions=
Type=Application
X-Desktop-File-Install-Version=0.28
X-KDE-SubstituteUID=false
X-KDE-Username=
