[Desktop Entry]
Categories=X-Wine;
Comment=
Exec=winecfg
Icon=winecfg
Name=Wine Configuration
NoDisplay=false
Path=
PrefersNonDefaultGPU=false
StartupNotify=true
StartupWMClass=winecfg.exe
Terminal=false
TerminalOptions=
Type=Application
X-Desktop-File-Install-Version=0.28
X-KDE-SubstituteUID=false
X-KDE-Username=
