[Desktop Entry]
Categories=Game;ArcadeGame;ActionGame;
Comment=
Exec=xblast
Icon=xblast
Name=XBlast
NoDisplay=false
Path=
PrefersNonDefaultGPU=false
StartupNotify=false
Terminal=false
TerminalOptions=
Type=Application
X-Desktop-File-Install-Version=0.28
X-KDE-SubstituteUID=false
X-KDE-Username=
