[Desktop Entry]
Categories=Game;ArcadeGame;
Comment=
Encoding=UTF-8
Exec=xgalaxy-hyperspace
Icon=xgalaxy.png
Name=XGalaxy-Hyperspace
NoDisplay=false
Path=
PrefersNonDefaultGPU=false
StartupNotify=false
Terminal=false
TerminalOptions=
Type=Application
X-Desktop-File-Install-Version=0.28
X-KDE-SubstituteUID=false
X-KDE-Username=
