[Desktop Entry]
Actions=new-window;new-private-window;profile-manager-window;
Categories=Network;WebBrowser;
Comment=
Exec=zen-browser %u
GenericName=Web Browser
Icon=zen-browser
Keywords=Internet;WWW;Browser;Web;Explorer;
MimeType=text/html;text/xml;application/xhtml+xml;x-scheme-handler/http;x-scheme-handler/https;application/x-xpinstall;application/pdf;application/json;
Name=Zen
NoDisplay=false
Path=
PrefersNonDefaultGPU=false
StartupNotify=true
StartupWMClass=zen
Terminal=false
TerminalOptions=
Type=Application
Version=1.0
X-KDE-SubstituteUID=false
X-KDE-Username=

[Desktop Action new-private-window]
Exec=zen-browser --private-window %u
Name[en_US]=New Private Window
Name=Open a New Private Window

[Desktop Action new-window]
Exec=zen-browser --new-window %u
Name[en_US]=New Window
Name=Open a New Window

[Desktop Action profile-manager-window]
Exec=zen-browser --ProfileManager
Name=Open the Profile Manager
